@use "global/common" as common;

// Todos
.add {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1em 0;
  margin: 20px auto;
  background: #fff;
  border-radius: 4px;
  font-size: .875rem;
  
  &__select {
    width: 26%;
    padding: 0.8em 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    &:focus {
      border-color: #007BFF;
      box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
      outline: none;
    }
  }
  
  &__input {
    width: 60%;
    padding: 0.8em 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    &:focus {
      border-color: #007BFF;
      box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
      outline: none;
    }
  }
  
  &__button {
    display: inline-block;
    width: 14%;
    padding: 0.8em 1em;
    border: none;
    background-color: #007BFF;
    font-weight: bold;
    text-align: center;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    &:hover {
      background-color: #0061c9;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    }
  }
}

.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  row-gap: 1.8em;
}

.category {
  padding: 2em 1.6em;
  width: calc(50% - 0.6em);
  border-radius: 2px;
  background-color: rgb(244, 244, 244);
  position: relative;
  &::before {
    position: absolute;
    bottom: -4px;
    right: 7px;
    z-index: -1;
    transform: rotate(4deg);
    width: 70%;
    height: 50%;
    background-color: #dfdbdb;
    content: "";
    filter: blur(4px);
}

  &--2025101 { background-color: rgb(247, 192, 192); }
  &--2025102 { background-color: rgb(244, 237, 195); }
  &--2025103 { background-color: rgb(175, 219, 194); }
  &--2025104 { background-color: rgb(168, 190, 214); }
  
  &__title {
    margin-bottom: 0.8em;
    font-size: 1.6em;
    line-height: 1.1;
    font-weight: bold;
    
    &--2025101 { color: rgb(85, 40, 40); }
    &--2025102 { color: rgb(80, 75, 35); }
    &--2025103 { color: rgb(30, 65, 50); }
    &--2025104 { color: rgb(45, 60, 75); }
  }
  
  &__todos > li {
    + li {
      margin-top: 0.6em;
    }
  }
}

.todo {
  display: flex;
  justify-content: space-between;
  padding: 0.8em 1em;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  &:hover {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
  }

  > p, button {
    display: inline-block;
  }
  
  > button {
    cursor: pointer;
    position: relative;
    transition: opacity 0.2s ease;
    
    &::after {
      position: absolute;
      top: calc(50% - 0.6em);
      right: 0;
      content: "";
      width: 1.2em;
      height: 1.2em;
      background: url("/src/assets/ico_delete.svg") no-repeat;
      background-size: contain;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
